* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  outline: 0;
  list-style-type: none !important;
  font-family: Montserrat, sans-serif;
}
:root {
  --roxo: #7e57c2;
  --cinza: #b6b3b3;
  --branco: #fff;
  --preto: #000;
}
body,
html {
  height: 100%;
}
.bg {
  background: url(../imagens/bg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 635px;
  border-bottom: 3px solid var(--cinza);
}
.navbar-fixed-top {
  position: absolute !important;
}
.logo {
  margin-top: 5px;
  width: 130px;
  height: 50px;
}
.text-a {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--branco);
}
.text-a:hover {
  border-top: 2px solid var(--roxo);
  border-bottom: 2px solid var(--roxo);
  background: 0 0 !important;
  color: var(--roxo);
}
.navbar-toggle {
  background: var(--roxo) !important;
  color: var(--branco);
  font-size: 25px;
}
.navbar-toggle:focus,
.navbar-toggle:hover {
  color: var(--cinza);
}
.navbar-toggle:disabled {
  color: var(--branco) !important;
}
.textTyping {
  padding: 70px 0;
  color: var(--preto);
  line-height: 40px;
  font-size: 28px;
  text-align: center;
}
.cor,
.fa {
  color: var(--roxo) !important;
}
.size-img {
  filter: grayscale(100%);
  margin-bottom: 20px;
  cursor: pointer;
}
.space {
  font-size: 35px;
  padding-bottom: 70px;
  font-weight: 700;
}
.border {
  padding: 30px 0;
  border-bottom: 3px solid var(--cinza);
}
.social {
  font-weight: 700;
  font-size: 20px;
  color: var(--preto);
}
.id-social {
  font-weight: 700;
  font-size: 18px;
}
.icon {
  font-size: 23px;
  color: var(--roxo);
}
.link {
  font-size: 18px;
  font-weight: 700;
  color: var(--preto);
}
.link:hover {
  color: var(--cinza);
  border: none;
}
.bar {
  opacity: 0.8;
  background: var(--roxo);
  color: var(--branco);
  display: inline-flex;
  font-weight: 200;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px var(--preto);
}
footer {
  color: var(--cinza);
  font-size: 18px;
  margin-top: 50px;
  padding: 10px 0;
  font-weight: 700;
}
@media screen and (max-width: 1160px) {
  .space,
  .textTyping {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .textTyping {
    font-size: 18px;
  }
  .space {
    padding: 30px 0;
  }
  .text-a {
    background-color: rgba(0, 0, 0, 0.507);
  }
  .navbar-fixed-top {
    position: fixed !important;
  }
  .size-img {
    width: 90px;
    height: 80px;
  }
}
@media screen and (max-width: 400px) {
  .mt15 {
    margin-top: 15px;
  }
  .border {
    text-align: center;
  }
}
